<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.edu.mapper.order.T_order_commodityMapper">
  <resultMap id="BaseResultMap" type="com.wm.edu.model.order.T_order_commodity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="order_id" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodity_id" />
    <result column="comm_num" jdbcType="INTEGER" property="comm_num" />
    <result column="sum_price" jdbcType="REAL" property="sum_price" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodity_name" />
    <result column="commodity_price" jdbcType="REAL" property="commodity_price" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="img_src" jdbcType="VARCHAR" property="img_src"></result>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, commodity_id, comm_num, sum_price, commodity_name, commodity_price,
    reserved1,img_src
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_commodity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order_commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wm.edu.model.order.T_order_commodity">
    insert into t_order_commodity (id, order_id, commodity_id, 
      comm_num, sum_price, commodity_name, 
      commodity_price, reserved1,img_src)
    values (#{id,jdbcType=VARCHAR}, #{order_id,jdbcType=VARCHAR}, #{commodity_id,jdbcType=VARCHAR}, 
      #{comm_num,jdbcType=INTEGER}, #{sum_price,jdbcType=REAL}, #{commodity_name,jdbcType=VARCHAR}, 
      #{commodity_price,jdbcType=REAL}, #{reserved1,jdbcType=VARCHAR},#{img_src,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.edu.model.order.T_order_commodity">
    insert into t_order_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="commodity_id != null">
        commodity_id,
      </if>
      <if test="comm_num != null">
        comm_num,
      </if>
      <if test="sum_price != null">
        sum_price,
      </if>
      <if test="commodity_name != null">
        commodity_name,
      </if>
      <if test="commodity_price != null">
        commodity_price,
      </if>
      <if test="reserved1 != null">
        reserved1,
      </if>
      <if test="img_src!=null">
        img_src,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=VARCHAR},
      </if>
      <if test="commodity_id != null">
        #{commodity_id,jdbcType=VARCHAR},
      </if>
      <if test="comm_num != null">
        #{comm_num,jdbcType=INTEGER},
      </if>
      <if test="sum_price != null">
        #{sum_price,jdbcType=REAL},
      </if>
      <if test="commodity_name != null">
        #{commodity_name,jdbcType=VARCHAR},
      </if>
      <if test="commodity_price != null">
        #{commodity_price,jdbcType=REAL},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="img_src!=null">
        #{img_src,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.edu.model.order.T_order_commodity">
    update t_order_commodity
    <set>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=VARCHAR},
      </if>
      <if test="commodity_id != null">
        commodity_id = #{commodity_id,jdbcType=VARCHAR},
      </if>
      <if test="comm_num != null">
        comm_num = #{comm_num,jdbcType=INTEGER},
      </if>
      <if test="sum_price != null">
        sum_price = #{sum_price,jdbcType=REAL},
      </if>
      <if test="commodity_name != null">
        commodity_name = #{commodity_name,jdbcType=VARCHAR},
      </if>
      <if test="commodity_price != null">
        commodity_price = #{commodity_price,jdbcType=REAL},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="img_src!=null">
        img_src = #{img_src,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.edu.model.order.T_order_commodity">
    update t_order_commodity
    set order_id = #{order_id,jdbcType=VARCHAR},
      commodity_id = #{commodity_id,jdbcType=VARCHAR},
      comm_num = #{comm_num,jdbcType=INTEGER},
      sum_price = #{sum_price,jdbcType=REAL},
      commodity_name = #{commodity_name,jdbcType=VARCHAR},
      commodity_price = #{commodity_price,jdbcType=REAL},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      img_src = #{img_src,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insertOrderCommodityList" parameterType="java.util.List">
    insert into t_order_commodity (id, order_id, commodity_id,
    comm_num, sum_price, commodity_name,
    commodity_price, reserved1,img_src)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.order_id,jdbcType=VARCHAR}, #{item.commodity_id,jdbcType=VARCHAR},
      #{item.comm_num,jdbcType=INTEGER}, #{item.sum_price,jdbcType=REAL}, #{item.commodity_name,jdbcType=VARCHAR},
      #{item.commodity_price,jdbcType=REAL}, #{item.reserved1,jdbcType=VARCHAR},#{item.img_src,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>