<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.edu.mapper.order.T_order_expressMapper">
  <resultMap id="BaseResultMap" type="com.wm.edu.model.order.T_order_express">
    <id column="express_id" jdbcType="VARCHAR" property="express_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="express_num" jdbcType="VARCHAR" property="express_num" />
    <result column="order_id" jdbcType="VARCHAR" property="order_id" />
  </resultMap>
  <sql id="Base_Column_List">
    express_id, name, express_num, order_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_express
    where express_id = #{express_id,jdbcType=VARCHAR}
  </select>

  <select id="getOneByOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order_express
    where order_id = #{order_id,jdbcType=VARCHAR} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order_express
    where express_id = #{express_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wm.edu.model.order.T_order_express">
    insert into t_order_express (express_id, name, express_num, 
      order_id)
    values (#{express_id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{express_num,jdbcType=VARCHAR}, 
      #{order_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wm.edu.model.order.T_order_express">
    insert into t_order_express
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="express_id != null">
        express_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="express_num != null">
        express_num,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="express_id != null">
        #{express_id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="express_num != null">
        #{express_num,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wm.edu.model.order.T_order_express">
    update t_order_express
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="express_num != null">
        express_num = #{express_num,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=VARCHAR},
      </if>
    </set>
    where express_id = #{express_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wm.edu.model.order.T_order_express">
    update t_order_express
    set name = #{name,jdbcType=VARCHAR},
      express_num = #{express_num,jdbcType=VARCHAR},
      order_id = #{order_id,jdbcType=VARCHAR}
    where express_id = #{express_id,jdbcType=VARCHAR}
  </update>
</mapper>