body,
p,
span,
ul,
li,
img {
	padding: 0;
	margin: 0;
	list-style: none;
	
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	/*ie8 display: block;*/
}

video embed,
video object,
video iframe {
	width: 100%;
	height: auto;
}


/*top*/

.top {
	width: 100%;
	height: 67px;
	background-color: rgb(251, 78, 80);
	position: fixed;
	left: 0;
	top: 0;
	font-size: 18px;
	color: #7e7e7e;
	z-index: 1000;
}

/*.top div {
	margin-left: 250px;
}*/
.top h1{
	width: 20%;
	display: inline-block;
	/*border: 1px solid black;*/
	color: white;
}
.top div strong {
	width: 33%;
	height: 65px;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.top div strong span {
	line-height: 65px;
}

.top div img {
	margin-right: 10px;
	margin-bottom: -5px;
	display: inline-block;
}


/*list*/

.list {
	width: 16%;
	/*height: 1280px;*/
	margin-top: 68px;
	/*border: 1px solid red;*/
	float: left;
	/*position: fixed;*/
	display: inline-block;
	/*background: rgb(250,250,250);*/
	/*padding-left: 20px;*/
	/*z-index: 10000;*/
}



.list .list-box {
	width:100%;
	text-align: center;
}

.list .list-box .list-box-1 ul,
.list .list-box .list-box-1 ul div {
	display: block;
}

.list .list-box .list-box-1 li {
	background: url(../images/guanli.png) no-repeat left center;
}

.list .list-box .list-box-2 li:first-child {
	background: url(../images/guanli.png) no-repeat left center;
}

.list .list-box .list-box-2 li:nth-child(2) {
	background: url(../images/fenlei.png) no-repeat left center;
}

.list .list-box .list-box-3 li {
	background: url(../images/advertise.png) no-repeat left center;
}

.list .list-box .list-box-4 li:first-child {
	background: url(../images/study.png) no-repeat left center;
}

.list .list-box .list-box-4 li:nth-child(2) {
	background: url(../images/super.png) no-repeat left center;
}

.list .list-box .list-box-5 li {
	background: url(../images/people.png) no-repeat left center;
}

.list .list-box .list-box-6 li:first-child {
	background: url(../images/people.png) no-repeat left center;
}

.list .list-box .list-box-6 li:nth-child(2) {
	background: url(../images/paper.png) no-repeat left center;
}

.list .list-box .list-box-6 li:nth-child(3) {
	background: url(../images/list.png) no-repeat left center;
}

.list .list-box>li>span {
	display: block;
	line-height: 110px;
	height: 70px;
	border-bottom: 1px solid rgb(225,225,225);
	
}
.sp{
	background: url(../images/sanjiao.png) no-repeat 190px 50px;
}
.list .list-box> .list-box-1 span {
	/*background:rgb(250,250,250);;*/
	color: black;
}

.list .list-box> .list-box-1 li {
	color: black;
}

.list .list-box li {
	font-size: 17px;
	color:black;
	cursor: pointer;
}

.list .list-box ul {
	display: none;
	padding-left: 10px;
}

.list .list-box ul li {
	height: 45px;
	line-height: 45px;
	width:58%;
	font-size: 13px;
	/*color: #bcbcbc;*/
	padding-left:29px;
	
	margin:auto;
	/*border: 1px solid red;*/
}

.list .list-box .current ul {
	display: block;
}

.list .list-box .current span {
	background: url(../images/sanjiao1.png) no-repeat 190px 50px;
}
/*//用户名和退出登录*/

